@{
  Layout = "_Layout";
}
<div class="well">
  <form class="form-group" action="/" method="post">
  <input type="text" name="text" placeholder="Text">
  <input type="text" name="find" placeholder="Find">
  <input type="text" name="replace" placeholder="Replace">
  <button type="submit" name="button">GO!</button>
  </form>
</div>
